policy_module(sss, 1.100.1)

########################################
#
# Declarations
#

type sss_t;
type sss_exec_t;
init_daemon_domain(sss_t, sss_exec_t)

permissive sss_t;

type sss_initrc_exec_t;
init_script_file(sss_initrc_exec_t)

type sss_conf_t;
files_type(sss_conf_t)

type sss_var_lib_t;
files_type(sss_var_lib_t)

type sss_var_run_t;
files_type(sss_var_run_t)

type sss_port_t;
corenet_port(sss_port_t)

########################################
#
# sss local policy
#
allow sss_t self:process { fork };

allow sss_t self:fifo_file rw_fifo_file_perms;
allow sss_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(sss_t, sss_conf_t, sss_conf_t)
manage_files_pattern(sss_t, sss_conf_t, sss_conf_t)

manage_dirs_pattern(sss_t, sss_var_lib_t, sss_var_lib_t)
manage_files_pattern(sss_t, sss_var_lib_t, sss_var_lib_t)
files_var_lib_filetrans(sss_t, sss_var_lib_t, { dir file })

manage_dirs_pattern(sss_t, sss_var_run_t, sss_var_run_t)
manage_files_pattern(sss_t, sss_var_run_t, sss_var_run_t)

sysnet_dns_name_resolve(sss_t)
corenet_all_recvfrom_unlabeled(sss_t)

allow sss_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(sss_t)
corenet_tcp_sendrecv_generic_node(sss_t)
corenet_tcp_sendrecv_all_ports(sss_t)
corenet_tcp_bind_generic_node(sss_t)

gen_require(`
    type sss_port_t;
')
allow sss_t sss_port_t:tcp_socket name_bind;

gen_require(`
    type sss_port_t;
')
allow sss_t sss_port_t:tcp_socket name_connect;

domain_use_interactive_fds(sss_t)

files_read_etc_files(sss_t)

miscfiles_read_localization(sss_t)

sysnet_dns_name_resolve(sss_t)

allow sss_t sss_exec_t:file execute_no_trans;
allow sss_t self:process setsched;
corecmd_exec_ls(sss_t)
corenet_tcp_connect_http_port(sss_t)
dev_read_urand(sss_t)
fs_getattr_xattr_fs(sss_t)
kernel_read_system_state(sss_t)
