
## <summary>policy for sss</summary>


########################################
## <summary>
##	Transition to sss.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sss_domtrans',`
	gen_require(`
		type sss_t, sss_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sss_exec_t, sss_t)
')


########################################
## <summary>
##	Execute sss server in the sss domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sss_initrc_domtrans',`
	gen_require(`
		type sss_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sss_initrc_exec_t)
')


########################################
## <summary>
##	Search sss lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sss_search_lib',`
	gen_require(`
		type sss_var_lib_t;
	')

	allow $1 sss_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sss lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sss_read_lib_files',`
	gen_require(`
		type sss_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sss_var_lib_t, sss_var_lib_t)
')

########################################
## <summary>
##	Manage sss lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sss_manage_lib_files',`
	gen_require(`
		type sss_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sss_var_lib_t, sss_var_lib_t)
')

########################################
## <summary>
##	Manage sss lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sss_manage_lib_dirs',`
	gen_require(`
		type sss_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sss_var_lib_t, sss_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sss environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sss_admin',`
	gen_require(`
		type sss_t;
		type sss_initrc_exec_t;
		type sss_var_lib_t;
	')

	allow $1 sss_t:process { ptrace signal_perms };
	ps_process_pattern($1, sss_t)

	sss_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sss_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sss_var_lib_t)

')

